@tailwind base;
@tailwind components;
@tailwind utilities;

/* Shows the underline (<hr> element) for the active link. 
By default the underline is hidden */
.active hr{
  @apply block
}

::-webkit-scrollbar{
  @apply hidden
}

@media (max-width:740px) {
  .active p{
    @apply text-white bg-primary
  }
}
